@import url(https://fonts.googleapis.com/css?family=Palanquin:400,600&subset=latin,latin-ext);
body{
    background: url('../fotograflar/sifre.jpg');
    height:100%;
    background-position: 50%;
    background-size:cover;
    background-attachment: fixed;
}
/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
  }
  
  /* Style tab links */
  .tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 50%;
  }
  
  .tablink:hover {
    background-color: #777;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:90%;
    background-position: 50%;
    background-size:cover;
    background-attachment: fixed;
	  font-family: 'Poppins',sans-serif;
  }
  .giris{
    text-align:center;
    width:300px;
    color: black;
    font-size: 14px;
    box-sizing:border-box;
    box-sizing:30px;
    background: rgba(33, 33, 33,0.8);
  }
  .giris h3{
    margin: 30px 10px 50px;
    padding: 0;
    font-size: 20px;
    text-transform: uppercase;
      color: #FDD835;
  }
  .giris .pc{
    position:relative;
    width:100%;
    margin-bottom: 25px;
  }
  .giris .pc input{
    height:50px;
    width:80%;
    padding:0 20px;
    box-sizing: border-box;
    font-size:18px;
    outline:none;
    border: 1px solid #000;
  }
  .giris .pc span{
    position:absolute;
    font-size:13px;
    top:15px;
    left:50px;
    padding:0;
    transition:0.5s;
    pointer-events:none;
    background: #fff;
  }
  .giris .pc input:focus ~ span,
  .giris .pc input:valid ~ span{
    top: -12px;
    left: 12px;
    font-size: 12px;
    padding: 2px 4px;
    border: 1px solid #000;
    background: #FDD835;
  }
  .giris .pc input[type="submit"]{
    background:#FFEB3B;
    border:none;
    box-shadow:none;
    cursor:pointer;
    font-weight: 600;
  }
  .giris .pc input[type="submit"]:hover{
    background: #FDD835;
  }
  
  #Home {background: url(../fotograflar/sinop.jpg);
    height: 100%;
    background-position: 50%;
    background-size:cover;
    background-attachment: fixed;
  }
  #Contact {background: url(../fotograflar/sifre1.jpg);
    height: 100%;
    background-position: 50%;
    background-size:cover;
    background-attachment: fixed;
  }